$bg-color: #424242;
$label-color: #0c4da9;
$muted-color: mix(white, $bg-color, 10%);
$trans-time: 300ms;
$width: 100%;
$font-family: Verdana, Geneva, sans-serif;

*,
:before,
:after {
  box-sizing: border-box;
}

.example {
  width: 800px;

  form {
    border: 1px solid #c4c4c4;
  }

  p {
    padding: 2px;
    margin: 0;
    font-weight: bold;
  }
}

.vault-input-field {

  > div:first-of-type {
    padding: 5px;
  }

  .group {
    font-family: $font-family;
    position: relative;
    margin: 10px 0;

    input {
      background: none;
      color: $muted-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: $width;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #0c4da9;
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: 24px;
        left: 80%;
        font-size: 12px;
        margin-right: 0;
        color: $label-color;
      }
      &:focus ~ .bar:before {
        width: $width;
      }
      &::-webkit-input-placeholder {
        color: #ffffff;
      }
      &:focus::-webkit-input-placeholder {
        color: #dedddd;
      }
    }

    label {
      overflow: visible;
      color: $label-color;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      position: absolute;
      pointer-events: none;
      left: 8px;
      top: 24px;
      transition: $trans-time ease all;
    }

    .bar {
      position: relative;
      display: block;
      width: $width;
      &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #0c4da9;
        transition: $trans-time ease all;
        left: 0%;
      }
    }
  }

  .btn-group {
    input[type="submit"] {
      color: $muted-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: $width;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #0c4da9;
      margin: 5px 2px;
      color: $label-color;
      background: #ffdf33;
      border-bottom: none;
    }

    input[type="button"] {
      color: $muted-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: $width;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #0c4da9;
      margin: 4px 2px;
      color: $label-color;
      background-color: transparent;
      border: 1px solid #0c4da9;
    }
  }
}
